.logo {
    /* width: 50px;
    height: 50px; */
    background-image: "tfbg-logo";
}

.formCenter {
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: #c8bbe9;
    /* border-radius: 15px; */
    /* padding: 50px 90px; */
}

.formTitle {
    color: #707c8b;
    font-weight: 300;
    margin-bottom: 50px;
}

.formTitleLink {
    color: #707c8b;
    text-decoration: none;
    display: inline-block;
    font-size: 1.7em;
    margin: 0 10px;
    padding-bottom: 5px;
}

.formTitleLink:first-child {
    margin-left: 0;
}

.formTitleLink-active {
    color: white;
    border-bottom: 1px solid #6b5b95;
}

.formField {
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
    /* margin-right: 0px;
    margin-left: 0px;
    padding-right: 50px;*/
}

.formFieldLabel {
    display: inline;
    text-transform: uppercase;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    color: rgb(8, 14, 49);
    font-weight: bold;
}

.formFieldInput {
    /* width: 100%; */
    background-color: #ffcdcd;
    /* border: none;
    color: white; */
    width: 290px;
    height: 40px;
    /* text-align: center; */
    outline: none;
    border-bottom: 1px solid #445366;
    font-size: 1.2em;
    font-weight: 300;
    padding-bottom: 3px;
    margin-top: 10px;
    /* margin-right: 500px; */
    padding-right: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    /* align-content: center; */
}


/* .formFieldInput::placeholder {
    color: #616e7f;
} */

.formFieldButton {
    background-color: #6c6288;
    color: rgb(8, 14, 49);
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 12px 50px;
    font-size: 1.5em;
    font-weight: 500;
}

.formFieldLink {
    color: #66707d;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1.5px solid #6b5b95;
    padding-bottom: 5px;
}

.formFieldCheckboxLabel {
    color: #646f7d;
    font-size: 0.9em;
}

.formFieldCheckbox {
    position: relative;
    top: 1.5px;
}

.formFieldTermsLink {
    color: white;
    border-bottom: 1px solid #6b5b95;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 2px;
    margin-left: 5px;
}